<br><br><br>
<p>
  <strong>Company Name:</strong>
  <%= @company.name %>
</p>
 
<p>
  <strong>Mobile:</strong>
  <%= @company.mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Website URL:</strong>
  <%= @company.url %>
</p>
